@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focuse,
:active {
  outline: none;
}

a:focuse,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Poppins;
  font-weight: 400;
  color: #343A40;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1175px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px 12px;
  position: relative;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 42px;
  line-height: 119%;
}

/*---------Header----------*/
.header {
  background: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
}

.header__body {
  background: #fff;
  padding: 0px 15px 0px 0px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__image a img {
  height: 100%;
  width: 100%;
}

.header__name a img {
  height: 100%;
  width: 100%;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 14px;
  line-height: 150%;
  color: #343A40;
}

.menu__link:not(:last-child) {
  margin: 0px 40px 0px 0px;
}

.menu__link a:hover {
  color: #3355FF;
}

.menu__link a {
  color: #343A40;
}

@media (max-width: 769px) {
  .header__body {
    height: 52px;
  }
  .menu {
    min-width: 113px;
    background: url("../img/header/menu.svg") right 13px no-repeat;
  }
  .menu__link {
    display: none;
  }
}

/*----------Proton----------*/
.page__proton {
  position: relative;
}

.proton__body {
  padding: 250px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.proton__main-title {
  margin: 0px 0px 62px 0px;
}

.proton__top-subtitle {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 22px;
  line-height: 118.18%;
  letter-spacing: 0.02em;
  margin: 0px 0px 10px 0px;
}

.proton__title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 74px;
  line-height: 118.9%;
  letter-spacing: 0.03em;
  margin: 0px 0px 5px 0px;
}

.proton__bottom-subtitle {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.proton__try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 283px 0px;
}

.proton__button {
  margin: 0px 24px 0px 0px;
}

.proton__button a {
  background: url("../img/proton/arrow.svg") 50px center no-repeat;
}

.proton__users {
  font-size: 16px;
  line-height: 24px;
  padding: 0px 0px 0px 40px;
  background: url("../img/proton/group.svg") 0 0 no-repeat;
  background-color: #fff;
  border-radius: 5px;
}

.proton__image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.button {
  width: 276px;
  height: 60px;
  background-color: #3355FF;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button a {
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: #FFFFFF;
  padding: 0px 70px 0px 0px;
}

.button:hover {
  background-color: #1631B6;
  -webkit-box-shadow: 0px 0px 10px #3355FF;
          box-shadow: 0px 0px 10px #3355FF;
}

@media (max-width: 769px) {
  .proton__body {
    padding: 180px 0px 0px 0px;
  }
  .proton__try {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proton__button {
    width: 100%;
    margin: 0px 0px 12px 0px;
  }
  .proton__try {
    margin: 0px 0px 162px 0px;
  }
  ._ibg img {
    -o-object-position: -520px 0px;
       object-position: -520px 0px;
  }
}

@media (max-width: 426px) {
  .proton__body {
    padding: 130px 0px 0px 0px;
  }
  .proton__top-subtitle {
    font-size: 16px;
  }
  .proton__title {
    font-size: 58px;
  }
  .proton__bottom-subtitle {
    font-size: 16px;
  }
  .proton__try {
    margin: 0px 0px 60px 0px;
  }
}

/*----------Achive----------*/
.achive__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -100px -12.5px -98px -12.5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 20;
}

.achive__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0px 12.5px 0px 12.5px;
}

.achive__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 43px 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(208, 208, 208, 0.4);
          box-shadow: 0px 0px 10px rgba(208, 208, 208, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.achive__column:hover {
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-box-shadow: 0px 0px 15px #444444;
          box-shadow: 0px 0px 15px #444444;
}

.item {
  height: 100%;
}

.item__numbers {
  font-weight: 700;
  font-size: 52px;
  line-height: 150%;
  margin: 0px 0px 4px 0px;
}

.item__info {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

@media (max-width: 1200px) {
  .achive__column {
    padding: 38px 5px;
  }
  .item__numbers {
    font-size: 42px;
  }
}

@media (max-width: 769px) {
  .achive__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .achive__columns {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0px 0px 24px 0px;
  }
  .item__numbers {
    font-size: 42px;
  }
}

@media (max-width: 430px) {
  .achive__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .achive__columns {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 24px 0px;
  }
  .achive__body {
    margin: 60px -12.5px 0px -12.5px;
  }
}

/*-----------Posibilities---------*/
.page__possibilities {
  background-color: #FAFAFA;
}

.possibilities__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 239px 0px 60px 0px;
}

.possibilities__lables {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  row-gap: 86px;
}

.possibilities__lable {
  background-color: #fff;
  padding: 60px 20px 40px 40px;
  position: relative;
}

.possibilities__title {
  background-color: none;
}

.lable__image {
  background: #ffffff;
  width: 81px;
  height: 81px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
          box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  position: absolute;
  top: -41px;
  left: 40px;
}

.lable__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lable__about:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.lable__title-about {
  margin: 0px 0px 5px 0px;
}

.lable__text-about {
  margin: 0px 0px 5px 0px;
}

.lable-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 164.6%;
  letter-spacing: 0.01em;
}

.lable-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@media (max-width: 769px) {
  .possibilities__body {
    padding: 150px 0px 60px 0px;
  }
  .possibilities__lables {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50px 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr;
  }
  .possibilities__item-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 540px) {
  .possibilities__body {
    padding: 100px 0px 60px 0px;
  }
  .possibilities__lables {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .possibilities__item-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 430px) {
  .possibilities__body {
    padding: 50px 0px 60px 0px;
  }
}

/*---------What get---------*/
.whatget__body {
  padding: 100px 0px 0px 0px;
}

.whatget__title {
  margin: 0px 0px 0px 0px;
}

.whatget__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whatget__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 100px 0px;
}

.whatget__row-rewerse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.row-item__inform {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.row-item__sub-title {
  margin: 0px 0px 12px 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 153%;
}

.row-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 500px;
}

.row-item__image {
  padding: 0px 70px;
}

.row-item__image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 769px) {
  .whatget__body {
    padding: 50px 0px 0px 0px;
  }
  .whatget__rows {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .whatget__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 100px 0px;
  }
}

/*----------Phonetry---------*/
.page__phonetry {
  background: #4866ff;
}

.phonetry__body {
  margin: 0px 0px 159px 0px;
}

.phonetry__content {
  background: url("../img/phonetry/vector.png") 0 0 no-repeat;
  width: 100%;
  height: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phonetry__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.phonetry__image1 {
  position: absolute;
  top: -96px;
  right: 101px;
  z-index: 7;
}

.phonetry__image1 img {
  width: 636px;
  height: 568px;
}

.phonetry__image2 {
  position: absolute;
  top: -161px;
  right: -132px;
  z-index: 8;
}

.phonetry__image2 img {
  width: 639px;
  height: 571px;
}

.article__sub-title {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 28px;
  line-height: 117.8%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.article__title {
  color: #fff;
  margin: 0px 0px 19px 0px;
}

.article__button {
  border: 1px solid #fff;
}

.article__button a {
  background: url("../img/proton/arrow.svg") 50px center no-repeat;
}

@media (max-width: 1200px) {
  .phonetry__content {
    height: 322px;
  }
  .phonetry__image1 img {
    width: 537px;
    height: 479px;
  }
  .phonetry__image2 {
    right: -82px;
  }
  .phonetry__image2 img {
    width: 540px;
    height: 482px;
  }
}

@media (max-width: 769px) {
  .phonetry__content {
    height: 271px;
  }
  .phonetry__image1 {
    top: -56px;
    right: 51px;
  }
  .phonetry__image1 img {
    width: 426px;
    height: 381px;
  }
  .phonetry__image2 {
    top: -111px;
    right: -82px;
  }
  .phonetry__image2 img {
    width: 429px;
    height: 382px;
  }
}

@media (max-width: 650px) {
  .phonetry__content {
    height: 271px;
  }
  .phonetry__body {
    margin: 0px 0px 50px 0px;
  }
  .phonetry__image1 {
    top: -76px;
    right: 10px;
  }
  .phonetry__image1 img {
    width: 161px;
    height: 144px;
  }
  .phonetry__image2 {
    top: -81px;
    right: -32px;
  }
  .phonetry__image2 img {
    width: 162px;
    height: 145px;
  }
}

/*--------Partners-----------*/
.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0px 0px 100px 0px;
}

.partners__article {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.partners__logoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article-item__title {
  margin: 0px 0px 16px 0px;
  text-align: center;
}

.article-item__sub-title {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

.logo__image {
  padding: 5px;
  margin: 0px 0px 25px 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.logo__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 900px) {
  .partners__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 60px 0px;
  }
  .partners__logoes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners__article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .partners__logoes {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 575px) {
  .partners__body {
    margin: 0px 0px 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners__article {
    margin: 0px 0px 40px 0px;
  }
  .article-item__title {
    margin: 0px 0px 5px 0px;
  }
}

/*----------Forms---------*/
.page__callback {
  background: #FBFBFB;
}

.callback__body {
  padding: 100px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  margin: 0px 24px 0px 0px;
}

.callback__sub-title-name {
  font-size: 16px;
  line-height: 150%;
}

.callback__forms {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12px 0px -12px;
}

.form__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0px 0px 24px 0px;
  padding: 0px 12px 0px 12px;
}

.form__name input {
  padding: 0px 20px;
  background-color: #E3E5E6;
  border-radius: 4px;
  height: 65px;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form__name input:focus {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 10px #343A40;
          box-shadow: 0px 0px 10px #343A40;
}

.form__email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 12px 0px 12px;
  margin: 0px 0px 24px 0px;
}

.form__email input {
  padding: 0px 20px;
  background-color: #E3E5E6;
  border-radius: 4px;
  height: 65px;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form__email input:focus {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 10px #343A40;
          box-shadow: 0px 0px 10px #343A40;
}

.form__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0px 0px 12px 0px;
  padding: 0px 12px 0px 12px;
}

.form__textarea textarea {
  padding: 20px 20px;
  background-color: #E3E5E6;
  border-radius: 4px;
  width: 100%;
  resize: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form__textarea textarea:focus {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 10px #343A40;
          box-shadow: 0px 0px 10px #343A40;
}

.form__attention {
  padding: 0px 12px 0px 12px;
  margin: 0px 0px 24px 0px;
}

.form__button {
  margin: 0px 0px 100px 0px;
}

.form__button a {
  padding: 0px;
}

@media (max-width: 769px) {
  .callback__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 0px 0px 0px;
  }
  .form__button {
    margin: 0px 0px 70px 0px;
  }
}

@media (max-width: 500px) {
  .callback__body {
    padding: 40px 0px 0px 0px;
  }
  .form__fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__button {
    margin: 0px 0px 40px 0px;
  }
}

/*---------Footer----------*/
.footer {
  background: #122791;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__body a {
  margin-bottom: 25px;
}

.footer__body a:not(:last-child) {
  margin-right: 25px;
}

.text-footer {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 635px) {
  .footer__body {
    padding: 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__body a:not(:last-child) {
    margin-bottom: 25px;
  }
}
